<%- model_class = Store -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:client_id) %>:</strong></dt>
  <dd><%= @store.client_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:branded_name) %>:</strong></dt>
  <dd><%= @store.branded_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status_code) %>:</strong></dt>
  <dd><%= @store.status_code %></dd>
  <dt><strong><%= model_class.human_attribute_name(:advertising_start_date) %>:</strong></dt>
  <dd><%= @store.advertising_start_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:advertising_end_date) %>:</strong></dt>
  <dd><%= @store.advertising_end_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:street) %>:</strong></dt>
  <dd><%= @store.street %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @store.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
  <dd><%= @store.state %></dd>
  <dt><strong><%= model_class.human_attribute_name(:zip) %>:</strong></dt>
  <dd><%= @store.zip %></dd>
  <dt><strong><%= model_class.human_attribute_name(:url) %>:</strong></dt>
  <dd><%= @store.url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contact_name) %>:</strong></dt>
  <dd><%= @store.contact_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contact_email) %>:</strong></dt>
  <dd><%= @store.contact_email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:facility_number) %>:</strong></dt>
  <dd><%= @store.facility_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:marketing_number) %>:</strong></dt>
  <dd><%= @store.marketing_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:logo_url) %>:</strong></dt>
  <dd><%= @store.logo_url %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              client_stores_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_client_store_path(@client, @store), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              client_store_path(@client, @store),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
