<%= form_for([:admin, @client, @store], :url=>admin_client_store_path(params[:client_id], @store), :html => { :class => 'form-horizontal' }) do |f| %>
  <div class="control-group">
    <%= f.label :client_id, :class => 'control-label' %>
    <div class="controls">
      <%= Client.find_by_id(params["client_id"]).branded_name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :branded_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :branded_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :status_code, :class => 'control-label' %>
    <div class="controls">
      <%= select_tag(:status_code, options_for_select(@store.status_codes)) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :advertising_start_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :advertising_start_date, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :advertising_end_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :advertising_end_date, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :street, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :street, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :state, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :state, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :zip, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :zip, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contact_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :contact_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contact_email, :class => 'control-label' %>
    <div class="controls">
      <%= f.email_field :contact_email, :class => 'email_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :facility_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.telephone_field :facility_number, :class => 'telephone_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :marketing_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.telephone_field :marketing_number, :class => 'telephone_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :logo_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.url_field :logo_url, :class => 'url_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_client_stores_path, :class => 'btn' %>
  </div>
<% end %>
