<%- model_class = Store -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="dataTable">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:branded_name) %></th>
      <th><%= model_class.human_attribute_name(:status_code) %></th>
      <th><%= model_class.human_attribute_name(:advertising_start_date) %></th>
      <th><%= model_class.human_attribute_name(:street) %></th>
      <th><%= model_class.human_attribute_name(:city) %></th>
      <th><%= model_class.human_attribute_name(:state) %></th>
      <th><%= model_class.human_attribute_name(:url) %></th>
      <th><%= model_class.human_attribute_name(:facility_number) %></th>
      <th><%= model_class.human_attribute_name(:marketing_number) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= link_to store.id, admin_client_store_path(store.client_id, store) %></td>
        <td><%= store.branded_name %></td>
        <td><%= store.status_code %></td>
        <td><%= store.advertising_end_date %></td>
        <td><%= store.street %></td>
        <td><%= store.city %></td>
        <td><%= store.state %></td>
        <td><%= store.url %></td>
        <td><%= store.facility_number %></td>
        <td><%= store.marketing_number %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_client_store_path(store.client_id, store), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_client_stores_path(store),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.newstore', :default => t("newstore")),
            new_admin_client_store_path,
            :class => 'btn btn-primary' %>
